body *{
    font-family: 'Oxygen', serif;
}

.introText {
	text-align: center;
    font-family: 'Oxygen', serif;
	font-size: 17px;
	line-height: 30px;
	padding-top: 0px;
}

body {
    background-color: #E5D3B3;
}

.page {
    width: 1150px;
    background-color: #E5D3B3;
    margin: auto;
    padding: 50px;
    padding-top: 10px;
}

.vis-container {
    background-color: #E5D3B3;
    width: 80%;
}

h1 {
	font-size: 65px;
	color: #000000;
	font-family: 'Playfair Display', serif;
	text-align: center;
	font-weight: bolder;
}


.pure-g {
    margin-bottom: 10px;
}

p {
	padding-top: 5px;
	font-size: 16px;
	text-align: center;
	line-height: 25px;
}

h2 {
	font-size: 35px;
	color: #000000;
	font-weight: bolder;
	text-align: center;
	font-family: 'Playfair Display', serif;
	width: 525px;
	padding-top: 12px;
	padding-bottom: 12px;
}

#smallFont {
	font-size: 13px;
	text-align: left;
	padding-top: 20px;
}

.space{
    height: 15px;
  }
  
#h2worldmap {
	width: 100%;
	background-color: #0081C8;
    text-align: center;
}

#h2worldmap2 {
	width: 100%;
	background-color: #FCB131;
    text-align: center;
}

#h2barchart {
	width: 100%;
	background-color: #000000;
    text-align: center;
}